
  <!-- <input type="text" #event>
  <p>{{values}}</p> -->
<!-- <button (click)="onKey(#event.value)">Click</button>{{hello}} -->
    
   <!-- <h1>Lists Name</h1>
    <input #val ><br>
    <button (click)="addData(val.value)">Add</button><br>
 
    <ul>
        <li *ngFor="let dt of arr">
           {{dt}}
        </li>
    </ul> -->

    <!-- <ul>
        <li>
         {{arr}}
        </li>
    </ul> -->

    <button (click)="addList()">Add Me</button> 

    <ul>
        <li *ngFor="let d of this.ser.s;let i=index">
            {{d.name}}
            
                <ul>
                <input #vl><br>
                <button (click)="addItem(vl.value,d)">Add Items</button><br>
                <!-- <li *ngFor="let q of this.ser.arr.item,let i = index"><br> -->
                    <li *ngFor="let q of d.items,let j = index"><br>
                    <!-- <p *ngIf="q.length"> -->
                    <input type="checkbox">
                        {{q}}
                    <button (click)="delete(d,j)">delete</button><br>
                    <!-- </p> -->
                </li>
                <button (click)="dele(d,j)" value={{d.name}} name='true'>Dele</button><br>
                </ul> 
        </li>
    </ul>


