/* You can add global styles to this file, and also import other style files */

li{
    list-style: none;
}

h1
{ 
    text-align: center;
    color: darkblue;
    font-weight: bold;
    text-shadow: 3px 3px 3px red;

}
.btn1
{
   color: pink;
   font-weight: bolder;
   padding: 10px;

}
h3
   { 
    font-weight: bold;
    text-align: center;
   }
 .btn2
 {
    color: pink;
    font-weight: bolder;
    padding: 10px;
    margin-top: 20px;     

 }  